<ion-content class="ion-no-padding">
  <!-- Vídeo de fundo -->
  
  <div class="background-video-container">
    <video autoplay muted loop playsinline class="background-video">
      <source src="../../../assets/@f1l193_PinDown.io_1764336660.mp4" type="video/mp4">
    </video>
  </div>
  
  <!--<div class="background-image-container">
    <ion-img src="../../../assets/Ninja 4k wallpaper for pc and mobile.jpg"
         class="background-image">
    </ion-img>
  </div>
  -->

  <div class="login-wrapper">

    <div class="login-form-section">
      <div class="form-container">

        <div class="brand-section">
          <h1>Bem vindo novamente!</h1>
          <p class="subtitle">faça o login com usuário e senha</p>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="login()" class="login-form">

          <div class="input-group">
            <label class="input-label" for="email">Email</label>
            <input
              name="email"
              type="email"
              placeholder="Digite seu email"
              [(ngModel)]="email"
              class="custom-input"
              required
              >
          </div>

          <div class="input-group">
            <label class="input-label" for="password">Senha</label>
            <input
              id="password"
              type="password"
              placeholder="Digite sua senha"
              [(ngModel)]="password"
              name="password"
              class="custom-input"
              required
              autocomplete="current-password" />
          </div>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="!loginForm.valid"
            class="login-button">
            Entrar
          </ion-button>

        </form>

        <div class="test-credentials">
          <p class="credentials-title">Credenciais de teste:</p>
          <div class="credential-item">
            <ion-icon name="shield-checkmark"></ion-icon>
            <span>Admin: admin@teste.com / 123</span>
          </div>
          <div class="credential-item">
            <ion-icon name="person"></ion-icon>
            <span>Cliente: cliente@teste.com / 123</span>
          </div>
        </div>

      </div>
    </div>

  </div>

</ion-content>